:root {
  --custom-danger: #dd540b;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  background-color: var(--dark) !important;
}

.output {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
}

#classOutput {
  padding: 0.2rem 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  font-size: 2rem;
  border-radius: 6px;
  background-color: var(--info);
  color: var(--light);
  box-shadow: 0 5px 45px -30px #000, 0 15px 15px -25px #000;
}

.form-container {
  border-left: 1px solid var(--dark);
  padding-left: 1.5rem;
}

.bg-custom-danger {
  background-color: var(--custom-danger) !important;
}

.footer {
  width: 100%;
}

/* CSS LOADER - RING */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  /* margin: 6px; */
  border: 6px solid var(--dark);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--dark) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
